@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f27074, #fad0c4, #fad0c4, #fad0c4, #f27074);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 500px;

    background: white;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px 10px rgba(139, 2, 9, 0.3);
    position: relative;
    animation: fadeIn 2s ease-in-out;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 90%;
    }
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -10px auto;
    margin-top: -25px;
    vertical-align: middle;
}
.emoji {
    padding: 1.05rem;
}
h1 {
    color: #ff4081;
    font-size: 2.2rem;
    font-family: 'Great Vibes', cursive;
    animation: textoPop 2s ease-in-out;
    margin-top: 1rem;
}
.imagen {
    width: 80%;
    max-width: 200px;
    border-radius: 15px;
    margin: 10px 0;
    animation: flotar 4s infinite alternate ease-in-out;
}
p {
    font-size: 1.05rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
    line-height: 1.8;
    animation: textoFadeIn 2s ease-in-out;
    margin: 0.5rem auto;
}
.decoraciones {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.emoji-decoracion {
    position: absolute;
    top: -130px;
    font-size: 2rem;
    animation: decoracionesFlotantes 5s infinite ease-in-out;
}
@media (max-width: 600px) {
    .emoji-decoracion {
        font-size: 2rem;
    }
}
@keyframes decoracionesFlotantes {
    from { transform: translateY(100vh); opacity: 1; }
    to { transform: translateY(-10vh); opacity: 0; }
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes textoFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes flotar {
    from { transform: translateY(0px); }
    to { transform: translateY(-10px); }
}
@keyframes textoPop {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
.button {
    max-width: 270px;
    display: inline-block;
    background-color: #ff4081;
    color: white;
    padding: 8px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.05rem;
    margin-top: 0.5rem;
    transition: background 0.3s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

@media (max-width: 600px) {
    .button {
        padding: 12px 20px;
        font-size: 1.05rem;
    }
}
.ventana-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}
.ventana {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px; 
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    width: 90%; 
    max-width: 500px; 
    text-align: center;
}
.ventana p {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #333;
    padding-bottom: 10px;
    animation: textoFadeIn 1s ease-in-out;
}
.ventana .close {
    display: flex;
    font-weight: bold;
    padding: 5px 9px;
    background: #ff4081;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.05rem;
    margin-left: auto;
    margin-top: -15px;
    margin-right: -15px;
    transition: background 0.3s ease-in-out;
}
.button:hover, .close:hover {
    background-color: #ff79a9;
    cursor: pointer;
}
